.drink-card {

}

.card {
  height: 200px;
  width: 400px;
  border-radius: 10px;
  margin: 10px;
}

.card a {
  color:white;
  font-size: 25px;
  font-weight: bold;
}

.down-color {
  background-color: #2F303A;
  height:400px;
}


.container-new {
  width: 600px;
}
